.football, .ping-pong, .coding {
	 font-family: sans-serif;
	 font-size: 18px;
	 font-weight: bold;
	 border: 1px solid black;
	 padding: 20px;
	 margin: 20px;
}
 .football {
	 background-color: #84e184;
}
 .ping-pong {
	 background-color: #2db92d;
}
 .coding {
	 background-color: #196719;
}
